* {

}

header {
    padding-top: 15px;
    height:60px;

    text-align: center;

    background-color: #000033;
    color: white;

    background-image: url("chapter5/casestudystarters/pacific/sunset.jpg");
    background-position: right;
    background-repeat: no-repeat;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#FFF, #90C7E3);
}

main { 
    background-color: #FFFFFF ; 
    padding: 1px 20px 20px 20px;
    display: block;
}

#homehero { 
    height: 300px;
    background-image: url(chapter5/casestudystarters/pacific/coast.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}

#trailhero {    
    height: 300px;
    background-image: url(chapter5/casestudystarters/pacific/trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

#yurthero {    
    height: 300px;
    background-image: url(chapter5/casestudystarters/pacific/yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; 
}

footer {
    background-color: #FFF;
    padding:20px;
    font-size: 75%;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', serif;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', serif;
}

nav {
    background-color: #FFF;
    text-align: center;
}

nav a {
    font-weight: bold;
    text-decoration: none;
}

h2 {
    color: #3399CC;
    font-family: Georgia, 'Times New Roman', serif;
    text-shadow: 1px #cccccc;
}

h3 {
    color: #000033;
    font-family: Georgia, 'Times New Roman', serif;
}

ul {
    list-style-image: url("chapter5/casestudystarters/pacific/marker.gif");
}

dt {
    color: #000033;
}

.resort {
    color: #5C7FA3;
    font-weight: bold;
}

.contact {
    font-size: 90%;
}

#wrapper { background-color: #000033 ;
    min-width: 960px;
    max-width: 2048px;
    margin-left: auto ;
    margin-right: auto;
    width: 80% ;
    box-shadow: 3px #333; 
} 